.header-wrapper {
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: center;

  .header-content {
    width: 943px;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 40px;
    .header-home-button {
      margin-right: 250px;
    }

    .header-nav-link-wrapper {
      display: flex;
      justify-content: space-between;
      .header-link {
        margin-left: 38px;
        text-decoration: none;
        h3 {
          padding: 0%;
          margin: 0%;
          color: black;
        }
      }
    }
  }
}
