.services-content-wrapper {
  display: flex;
  width: 800px;
}
.services-top-wrapper {
  display: flex;
  justify-content: center;
  // width: ;
  border-bottom: solid 1px black;
}

.bruh-wrapper {
  display: flex;
  justify-content: center;
}
.services-text-wrapper {
  padding: 12px;
}

.services-left-wrapper {
  padding: 32px;
}
.services-right-wrapper {
  padding: 32px;
}
